<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width">
    
        <title>{{ title }}</title>

        <script src="./dist/js/build.js"></script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
        <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>


        <link rel="stylesheet" href="./dist/css/style.css">
    </head>
    <body>
        {% block page %}{% endblock %}

        <form id="deal-popup_full" class="deal-popup">
            <button type="button" data-fancybox-close="" class="deal-popup__close" title="Close"></button>
            <div class="deal-popup__title">Безопасная сделка</div>
            <div class="deal-popup__description">Опишите условия на которых собираетесь купить группу и отправьте заявку продавцу</div>
            <textarea class="deal-popup__textarea" placeholder="Сообщение"></textarea>
            <div class="deal-popup__row">
                <div class="deal-popup__form-group">
                    <label class="deal-popup__label">Ваша цена, Р</label>
                    <input class="deal-popup__input" type="text" value="2499">
                </div>
                <div class="deal-popup__form-group deal-popup__form-group_big">
                    <label class="deal-popup__label">Способ передачи сообщества</label>
                    <select class="deal-popup__select select2">
                        <option value="1">Передача прав администратора</option>
                        <option value="2">Продавец</option>
                        <option value="2">Другое</option>
                    </select>
                </div>
            </div>
            <div class="deal-popup__row deal-popup__row_mb_32">
                <div class="deal-popup__form-group deal-popup__form-group_auto">
                    <div class="deal-popup__label deal-popup__label_dark">Комиссию платит</div>
                    <div class="deal-popup__radio-container">
                        <label class="deal-popup__radio">
                            <input type="radio" name="fees" checked>
                            <figure></figure>
                            <div>Покупатель</div>
                        </label>
                        <label class="deal-popup__radio">
                            <input type="radio" name="fees">
                            <figure></figure>
                            <div>Продавец</div>
                        </label>
                        <label class="deal-popup__radio">
                            <input type="radio" name="fees">
                            <figure></figure>
                            <div>50% на 50%</div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="deal-popup__row deal-popup__row_mb_24">
                <button type="submit" class="deal-popup__btn btn btn_blue">Отправить</button>
                <a class="deal-popup__reviews" href="#">Отзывы: 2485</a>
            </div>
            <div class="deal-popup__protected">Вы защищены от мошенничества</div>
            <div class="deal-popup__hint">Комиссия сервиса 5%</div>
        </form>

        <form id="deal-popup" class="deal-popup">
            <button type="button" data-fancybox-close="" class="deal-popup__close" title="Close"></button>
            <div class="deal-popup__title">Безопасная сделка</div>
            <div class="deal-popup__description">Опишите условия на которых собираетесь купить группу и отправьте заявку продавцу</div>
            <textarea class="deal-popup__textarea" placeholder="Сообщение"></textarea>
            <div class="deal-popup__row deal-popup__row_mb_42">
                <div class="deal-popup__form-group">
                    <label class="deal-popup__label">Ваша цена, Р</label>
                    <input class="deal-popup__input" type="text" value="2499">
                </div>
                <div class="deal-popup__form-group deal-popup__form-group_auto">
                    <div class="deal-popup__label deal-popup__label_dark">Комиссию платит</div>
                    <div class="deal-popup__radio-container">
                        <label class="deal-popup__radio">
                            <input type="radio" name="fees" checked>
                            <figure></figure>
                            <div>Покупатель</div>
                        </label>
                        <label class="deal-popup__radio">
                            <input type="radio" name="fees">
                            <figure></figure>
                            <div>Продавец</div>
                        </label>
                        <label class="deal-popup__radio">
                            <input type="radio" name="fees">
                            <figure></figure>
                            <div>50% на 50%</div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="deal-popup__row deal-popup__row_mb_24">
                <button type="submit" class="deal-popup__btn btn btn_blue">Отправить</button>
                <a class="deal-popup__reviews" href="#">Отзывы: 2485</a>
            </div>
            <div class="deal-popup__protected">Вы защищены от мошенничества</div>
            <div class="deal-popup__hint">Комиссия сервиса 5%</div>
        </form>
    </body>
</html>