.btn {
    border-radius: rem(8px);
    color: white;
    background: $dark;
    box-shadow: rem(0px) rem(4px) rem(24px) rgba($dark, 0.2);
    font-weight: bold;
    font-size: rem(18px);
    line-height: rem(24px);
    letter-spacing: .01;
    padding: rem(15px) rem(30px);
    border: none;
    cursor: pointer;
    transition: .3s;

    &:hover {
        transform: scale(1.03);
    }

    &_yellow {
        color: white;
        background: linear-gradient(180deg, #FFD364 0%, #FFBB12 23.96%, #FFBB12 100%);
        box-shadow: rem(0px) rem(4px) rem(24px) rgba(255, 190, 28, 0.6);
    }

    &_green {
        background: #00CB68;
        box-shadow: 0px 4px 16px rgba(0, 203, 104, 0.3);
    }

    &_blue {
        background: #006ECC;
        box-shadow: 0px 4px 16px rgba(0, 110, 204, 0.3);
    }
}