.container {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
    
    @media (max-width: 1100px) {
        max-width: 1024px;
    }

    @media (max-width: 1024px) {
        padding: 0 30px;
    }

    @media (max-width: 768px) {
        padding: 0 15px;
    }
}