.deal-popup {
    box-shadow: 0px 4px 24px rgba(0, 25, 47, 0.2);
    border-radius: 8px;
    width: 636px;
    max-width: 100%;
    padding: 48px;
    color: #292C3B;
    display: none;
    font-family: "Roboto", sans-serif;
    position: relative;

    background: 
        url('../img/popup_top.svg') -25px -23px no-repeat, 
        url('../img/popup_bottom.svg') calc( 100% + 25px ) calc( 100% + 28px ) no-repeat;
    background-color: white;

    &::before {
        content: '';
        width: 96px;
        height: 131px;
        right: 40px;
        bottom: 0px;
        background: url('../img/popup_shield.svg') 50% 50% no-repeat;
        background-size: contain;
        position: absolute;
    }

    input,
    textarea,
    button,
    a,
    div,
    span {
        outline: none;

        &:focus,
        &:active {
            outline: none;
        }
    }

    &__close {
        cursor: pointer;
        position: absolute;
        width: 16px;
        height: 16px;
        top: 20px;
        right: 20px;
        background: url('../img/close.svg') 50% 50% no-repeat;
        background-size: contain;
        border: none;
        outline: none;
    }

    &__title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 23px;
    }

    &__description {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 36px;
    }

    &__textarea {
        border: 1px solid #E3E3E7;
        box-sizing: border-box;
        border-radius: 4px;
        width: 100%;
        height: 88px;
        padding: 10px 16px;
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 20px;
        resize: none;
    }

    &__row {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        &_mb_32 {
            margin-bottom: 32px;
        }

        &_mb_24 {
            margin-bottom: 24px;
        }

        &_mb_42 {
            margin-bottom: 42px;
        }

        &_between {
            justify-content: space-between;
        }
    }

    &__form-group {
        width: 124px;

        &:not(:last-child) {
            margin-right: 16px;
        }
        
        &_big {
            width: calc( 100% - 124px - 16px );
        }

        &_auto {
            width: auto;
        }
    }

    &__label {
        font-size: 12px;
        line-height: 16px;
        color: #9AA7B6;

        &_dark {
            color: #292C3B;
        }
    }

    &__input,
    &__select {
        background: white;
        border: 1px solid #E3E3E7;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 0 16px;
        height: 40px;
        margin-top: 12px;
        font-size: 14px;
        line-height: 20px;
        width: 100%;
    }

    &__select {
        &-container {
            &.select2-container *:focus {
                outline: none;
            }

            &.select2-selection {
                background: white;
                border: 1px solid #E3E3E7;
                box-sizing: border-box;
                border-radius: 4px;
                padding: 0 16px;
                height: 40px;
                margin-top: 12px;
                font-size: 14px;
                line-height: 20px;
                width: 100%;
                display: flex;
                align-items: center;
                position: relative;

                .select2-selection {
                    &__rendered {
                        color: #292C3B;
                    }

                    &__arrow {
                        top: 0;
                        right: 0;
                        height: 100%;
                        width: calc( 18px * 2 + 8px );
                        
                        b {
                            width: 8px;
                            height: 6px;
                            background: url('../img/select-arrow.svg') 50% 50% no-repeat;
                            background-size: contain;
                            border: none;
                            margin: 0;
                            left: auto;
                            right: 18px;
                            top: calc( 50% - 3px );
                        }
                    }
                }

                &[aria-expanded="true"] {
                    .select2-selection {
                        &__arrow {
                            transform: rotate(180deg);
                        }
                    }
                }

                &:hover {
                    color: #006ECC;

                    .select2-selection {
                        &__rendered {
                            color: #006ECC;
                        }

                        &__arrow {
                            b {
                                background-image: url('../img/select-arrow_blue.svg');
                            }
                        }
                    }
                }
            }
        }

        &-dropdown {
            &.select2-dropdown {
                border: 1px solid #E3E3E7;
                border-top: none;
                border-radius: 0 0 4px 4px;

                .select2-results {

                    &__option {
                        margin-bottom: 16px;
                        padding: 0 16px;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 14px;
                        color: #292C3B;

                        &:first-child {
                            margin-top: 16px;
                        }

                        &[aria-selected="true"] {
                            opacity: 0.4;
                            background: transparent;
                        }

                        &--highlighted {
                            background: transparent;
                            color: #006ECC;

                            &[aria-selected="true"] {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }

    &__radio-container {
        height: 40px;
        margin-top: 12px;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__radio {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 16px;
        }

        figure {
            background: #FFFFFF;
            border: 1px solid #E3E3E7;
            display: block;
            height: 16px;
            width: 16px;
            border-radius: 50%;
            margin: 0;
            margin-right: 8px;
            position: relative;
            box-sizing: border-box;

            &:before {
                content: '';
                background: #CCCCD0;
                display: block;
                height: 6px;
                width: 6px;
                border-radius: 50%;
                position: absolute;
                top: calc( 50% - 3px );
                left: calc( 50% - 3px );
            }
        }

        input {
            display: none;

            &:checked {
                + figure {
                    background: #00B45C;
                    border-color: #00B45C;

                    &:before {
                        background: white;
                    }
                }
            }
        }
    }

    &__btn {
        margin-right: 16px;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        padding: 10px 20px;
    }

    &__reviews {
        font-size: 12px;
        line-height: 16px;
        color: #006ECC;
        text-decoration: none;
        border-bottom: 0.25px solid #006ECC;
    }

    &__protected {
        font-size: 15px;
        line-height: 24px;
        color: #00E676;
        margin-bottom: 4px;
    }

    &__hint {
        font-size: 12px;
        line-height: 16px;
        color: #9AA7B6;
    }
}
