.illustration {
    position: absolute;
    background: transparent 50% 50% no-repeat;
    background-size: contain;

    &::before {
        position: absolute;
        z-index: -1;
        content: '';
        display: block;
        background: transparent 50% 50% no-repeat;
    }

    &_shield {
        width: 320px;
        height: 390px;
        background-image: url('../img/shield.svg');
    }

    &_resolution {
        width: 485px;
        height: 488px;
        background-image: url('../img/resolution.svg');
    }

    &_payment {
        width: 583px;
        height: 360px;
        background-image: url('../img/payment.svg');
    }
}