.price-table {
    table {
        th {
            font-weight: normal;
            font-size: 24px;
            line-height: 32px;
        }

        td {
            font-weight: 300;
            font-size: 24px;
            line-height: 32px;

            &.price {
                font-weight: 300;
                font-size: 40px;
                line-height: 40px;
            }
        }

        tr {
            &:not(:last-child) {
                th,
                td {
                    padding-bottom: 44px;
                }
            }
        }
    }

    &__footer {
        margin-top: 37px;
        
        .p {
            font-weight: 300;
            font-size: 12px;
            line-height: 14px;
            color: #80848E;
            max-width: 480px;
            text-align: left;
        }
    }
}