.section {
    width: 100%;
    overflow: hidden;
    background: #E5E5E5;

    &_dark {
        background: $darkBlue;
        color: white;
    }

    &_main {
        --awesome: calc( (1900 - 1108) / 19 );
        background-size: 1108px 820px;
        background-position: calc( 1vw * var(--awesome)  ) 100%;
        background-repeat: no-repeat;
        
        padding: 235px 0;
        min-height: 820px;

        .h1 {
            margin-bottom: 40px;
        }
    }
}