{% extends "./template/layout.twig" %}
 
{% block page %}
<div class="page how-it-works">
    <section class="section section_dark section_main">
        <div class="container">
            <div class="side side_text">
                <h1 class="h1">Как работает Безопасная Сделка</h1>
                <p class="p">
                    Безопасная сделка — автоматизированный процесс проведения сделки покупки-продажи сообщества, который гарантирует выполнение обязательств и снижает риски мошенничества и подлога
                </p>
                <div class="illustration illustration_shield"></div>
            </div>
        </div>
    </section>
    <section class="section safe">
        <div class="container">
            <h2 class="h2">Как создать безопасную сделку</h2>
            <div class="safe__content"></div>
        </div>
    </section>
    <section class="section steps">
        <div class="container">
            <div class="steps__main">
                <h2 class="h2">Этапы сделки</h2>
                <p class="p">Безопасная сделка проводится в <b>несколько этапов</b>, на каждом из которых для обоих участников сделки есть подсказки. Рекомендуем внимательно прочитать подсказку перед совершением каждого действия</p>
            </div>
            <div class="steps__item steps__item_agreement">
                <div class="steps__img">
                    <img src="/dist/img/agreement.svg" alt="">
                </div>
                <div class="steps__info">
                    <h3 class="h3 steps__title">Согласование условий сделки</h3>
                    <div class="steps__step">
                        <div class="steps__number">1 этап</div>
                        <div class="steps__text">
                            <p class="p">Участники сделки договариваются об условиях передачи сообщества/аккаунта и сумме сделки, а также о других деталях, если они есть</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="steps__item steps__item_coins-reservation">
                <div class="steps__info">
                    <h3 class="h3 steps__title">Резервирование денег</h3>
                    <div class="steps__step">
                        <div class="steps__number">2 этап</div>
                        <div class="steps__text">
                            <p class="p">Покупатель резервирует денежные средства в системе. Пока деньги не зарезервированы, продавец не должен передавать доступы или данные для доступов покупателю.</p>
                        </div>
                    </div>
                </div>
                <div class="steps__img">
                    <img src="/dist/img/coins-reservation.svg" alt="">
                </div>
            </div>
            <div class="steps__item steps__item_rights-transfer">
                <div class="steps__img">
                    <img src="/dist/img/rights-transfer.svg" alt="">
                </div>
                <div class="steps__info">
                    <h3 class="h3 steps__title">Передача прав</h3>
                    <div class="steps__step">
                        <div class="steps__number">3 этап</div>
                        <div class="steps__text">
                            <p class="p">
                                Продавец передает права, например передача прав владельца VK, TG, OK или передает доступы к Instragram.<br><br>
                                После получения прав или доступов, покупатель ВНИМАТЕЛЬНО все проверяет, меняет и подтверждает получение прав.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="steps__item steps__item_arbitration">
                <div class="steps__info">
                    <h3 class="h3 steps__title">На рассмотрении арбитражем</h3>
                    <div class="steps__step">
                        <div class="steps__number">4 этап</div>
                        <div class="steps__text">
                            <p class="p">
                                Если в процессе проведения сделки, одним из участников нарушаются условия и договоренности, другой участник может вызвать арбитра для решения ситуации.<br><br>
                                Это не критическая инстанция и если в процессе обсуждения с арбитром, стороны придут к соглашению, арбитраж может быть отменен и сделка продолжится в обычном режиме.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="steps__img">
                    <img src="/dist/img/arbitration.svg" alt="">
                </div>
            </div>
            <div class="steps__item steps__item_wallet">
                <div class="steps__img">
                    <img src="/dist/img/wallet.svg" alt="">
                </div>
                <div class="steps__info">
                    <h3 class="h3 steps__title">Получение денег</h3>
                    <div class="steps__step">
                        <div class="steps__number">5 этап</div>
                        <div class="steps__text">
                            <p class="p">
                                На этом этапе сделка для покупателя уже завершена. <br><br>
                                Покупатель может оставить отзыв о продавце для его рейтинга, а также о сервисе. <br><br>
                                Продавец выбирает удобный для него способ вывода денежных средств и получает их согласно условиям проведения сделки.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="steps__item steps__item_success">
                <div class="steps__info">
                    <h3 class="h3 steps__title">Завершено</h3>
                    <div class="steps__step">
                        <div class="steps__number">6 этап</div>
                        <div class="steps__text">
                            <p class="p">
                                На этом этапе сделка для продавца завершена.<br><br> 
                                Не забудьте оставить отзыв о сервисе, это поможет нам улучшать сервис и развиваться быстрее!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="steps__img">
                    <img src="/dist/img/success.svg" alt="">
                </div>
            </div>
            <a href="#" class="steps__link">Прочитать подробные правила работы сервиса</a>
        </div>
    </section>
    <section class="section safe-period">
        <div class="container">
            <div class="safe-period__lock"></div>
            <h2 class="h2">Период защиты сделки</h2>
            <p class="p">
                Период защиты сделки составляет 1 день с момента передачи прав, если в условиях сделки не указан иной срок (при передаче прав владельца сообщества ВКонтакте, период защиты 15 дней).<br><br>
                Если в течении периода защиты сделки Покупатель не осуществил действия «Доступы получил» или «Вызвать арбитраж», сделка считается завершенной, деньги переводяться продавцу.
            </p>
            <button data-fancybox data-src="#deal-popup_full" data-modal="true" class="btn btn_yellow" type="button">Написать администратору</button>
        </div>
    </section>
</div>
{% endblock %}