{% extends "./template/layout.twig" %}
 
{% block page %}
<div class="page partner">
    <section class="section section_dark section_main">
        <div class="container">
            <div class="side side_text">
                <h1 class="h1">Партнерская <br>программа</h1>
                <p class="p">
                    Приглашайте покупателей и продавцов, получайте деньги на счет!
                </p>
            </div>
        </div>
    </section>
    <section class="section share">
        <div class="container">
            <h2 class="h2">Поделитесь ссылкой</h2>
            <p class="p">Приглашайте людей и получайте деньги!</p>
            <div class="share__copy-container">
                <input type="text" value="https://salegroups.ru/?_ref=c8f76b9c5">
                <button type="button"></button>
            </div>
        </div>
    </section>
    <section class="section stats">
        <div class="container">
            <h2 class="h2">Ваша статистика</h2>   
            <div class="stats__container">
                <div class="stats__item">
                    <div class="stats__item-img stats__item-img_user"></div>
                    <div class="stats__item-info">
                        <div class="stats__item-title">Зарегистрировано пользователей</div>
                        <div class="stats__item-value">
                            0 <span class="stats__item-small">чел.</span>
                        </div>
                    </div>
                </div>
                <div class="stats__item">
                    <div class="stats__item-img stats__item-img_money"></div>
                    <div class="stats__item-info">
                        <div class="stats__item-title">Выплат на сумму</div>
                        <div class="stats__item-value">
                            0 <span class="stats__item-small">р.</span>
                        </div>
                    </div>
                </div>
            </div>     
        </div>
    </section>
    <section class="section info">
        <div class="container">
            <div class="info__steps-container">
                <div class="info__step info__step_1">
                    <div class="info__step-img"></div>
                    <div class="info__step-title">Приводи продавцов <br>и покупателей</div>
                </div>
                <div class="info__arrow"></div>
                <div class="info__step info__step_2">
                    <div class="info__step-img"></div>
                    <div class="info__step-title">Зарабатывай <br>со сделок</div>
                </div>
                <div class="info__arrow"></div>
                <div class="info__step info__step_3">
                    <div class="info__step-img"></div>
                    <div class="info__step-title">Выводи деньги</div>
                </div>
            </div>
            <div class="info__texts-container">
                <p class="p p_1">
                    <b>3%</b> на баланс от всех сделок приглашенных покупателей и продавцов, если сумма сделки <b>менее 50 000 р</b>. и <b>2%</b> если более <b>50 000 р</b>.*
                </p>
                <p class="p p_2">
                    *При условии что в сделке участвует только один участник партнерской программы, в случае когда в сделке каждый участник кем-то приглашен, процент делится на двоих.
                </p>
                <p class="p p_3">
                    <span class="red">Внимание:</span> При использовании партнерской программы для снижения комиссии самому себе, вы можете получить блокировку и потерять деньги!
                </p>
            </div>
        </div>
    </section>
</div>
{% endblock %}