{% extends "./template/layout.twig" %}
 
{% block page %}
<div class="page payment">
    <section class="section section_dark section_main">
        <div class="container">
            <div class="side side_text">
                <h1 class="h1">Оплата<br>и условия</h1>
                <p class="p">
                    Мы гарантируем сохранность денежных средств на протяжении всей сделки покупки-продажи сообщества, а также соблюдение договоренностей между покупателем и продавцом
                </p>
                <div class="illustration illustration_payment"></div>
            </div>
        </div>
    </section>
    <section class="section calculate">
        <div class="container">
            <h2 class="h2">Рассчитать комиссию</h2>
            <div class="calculate__params-container">
                <div class="calculate__param">
                    <div class="calculate__title">Сумма сделки</div>
                    <input type="text" value="5000">
                </div>
                <div class="calculate__param">
                    <div class="calculate__title">Комиссию платит</div>
                    <select class="select2">
                        <option value="1">Покупатель</option>
                        <option value="2">Продавец</option>
                    </select>
                </div>
                <div class="calculate__coin calculate__coin_1"></div>
                <div class="calculate__coin calculate__coin_2"></div>
                <div class="calculate__coin calculate__coin_3"></div>
                <div class="calculate__coin calculate__coin_4"></div>
                <div class="calculate__coin calculate__coin_5"></div>
                <div class="calculate__coin calculate__coin_6"></div>
            </div>
            <div class="calculate__result-container">
                <div class="calculate__result calculate__result_1">
                    <div class="calculate__title">Покупатель</div>
                    <div class="calculate__text">Оплатит: <span class="calculate__price">5250 Р</span></div>
                    <a href="#seller" class="calculate__payment">Способы оплаты</a>
                </div>
                <div class="calculate__result calculate__result_2">
                    <div class="calculate__title">Salegroups</div>
                    <div class="calculate__text">Защита сделки: <span class="calculate__price">250 Р</span></div>
                </div>
                <div class="calculate__result calculate__result_3">
                    <div class="calculate__title">Продавец</div>
                    <div class="calculate__text">К выплате: <span class="calculate__price">5000 Р</span></div>
                    <a href="#payeer" class="calculate__payment">Способы выплаты</a>
                </div>
            </div>
        </div>
    </section>
    <section class="section fees">
        <div class="container">
            <h2 class="h2">Размер комиссии Salegroups</h2>
            <div class="fees__container">
                <div class="fees__block fees__block_green">
                    <div class="fees__title">Сумма сделки, Р</div>
                    <div class="fees__box">
                        <div data-fees="1" class="fees__item fees__item_after">
                            до <span class="fees__price">1400</span>
                        </div>
                        <div data-fees="2" class="fees__item fees__item_after">
                            от <span class="fees__price">1400</span> до <span class="fees__price">25000</span>
                        </div>
                        <div data-fees="3" class="fees__item fees__item_after">
                            от <span class="fees__price">25000</span> до <span class="fees__price">50000</span>
                        </div>
                        <div data-fees="4" class="fees__item fees__item_after">
                            от <span class="fees__price">50000</span>
                        </div>
                    </div>
                </div>
                <div class="fees__block fees__block_blue">
                    <div class="fees__title">Комиссия сервиса</div>
                    <div class="fees__box arrow">
                        <div data-fees="1" class="fees__item fees__item_before">
                            <span class="fees__price">50 Р</span>
                        </div>
                        <div data-fees="2" class="fees__item fees__item_before">
                            <span class="fees__price">5%</span>
                        </div>
                        <div data-fees="3" class="fees__item fees__item_before">
                            <span class="fees__price">4.5%</span>
                        </div>
                        <div data-fees="4" class="fees__item fees__item_before">
                            <span class="fees__price">4%</span>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </section>
    <section class="section">
        <div id="payeer" class="additional-fees">
            <div class="container">
                <h2 class="h2">Дополнительные комиссии</h2>
                <p class="p">Покупатель может оплатить сделку с помощью банковской карты* или через электронный платеж. В большинстве случаев перевод осуществляется моментально, но время транзакции может быть увеличено банком-эквайером.</p>
                <div class="additional-fees__accept">
                    <div class="additional-fees__accept-title">Мы принимаем</div>
                    <div class="additional-fees__accept-conteiner">
                        <div class="additional-fees__accept-item">
                            <img src="./dist/img/visa.svg">
                        </div>
                        <div class="additional-fees__accept-item">
                            <img src="./dist/img/mastercard.svg">
                        </div>
                        <div class="additional-fees__accept-item">
                            <img src="./dist/img/yandex.svg">
                        </div>
                        <div class="additional-fees__accept-item">
                            <img src="./dist/img/qiwi.svg">
                        </div>
                    </div>
                </div>
                <div class="price-table">
                    <div class="additional-fees__cashbox">
                        <div class="color"></div>
                        <div class="right"></div>
                        <div class="cashbox"></div>
                    </div>
                    <table>
                        <tr>
                            <th>Способ проведения платежа</th>
                            <th>Комиссия за перевод</th>
                        </tr>
                        <tr>
                            <td>Карта Visa / MasterCard</td>
                            <td class="price">50 Р</td>
                        </tr>
                        <tr>
                            <td>Баланс сайта</td>
                            <td class="price">5%</td>
                        </tr>
                        <tr>
                            <td>Кошелек Яндекс.Деньги</td>
                            <td class="price">4.5%</td>
                        </tr>
                        <tr>
                            <td>Кошелек QIWI</td>
                            <td class="price">4%</td>
                        </tr>
                    </table>
                    <div class="price-table__footer">
                        <p class="p">
                            * У некоторых банков, существует лимит единоразового перевода на Яндекс.Деньги в размере 15 000 Р.<br><br>
                            Если сумма сделки более 15 000 Р, рекомендуем использовать для оплаты Яндекс.Деньги или QIWI
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="seller" class="to-seller">
            <div class="container">
                <h2 class="h2">Перевод денег продавцу</h2>
                <p class="p">Продавец должен указать реквизиты для получения платежа, при выводе в некоторых случаях взимается комиссия. Возможны временные задержки 3-5 дней при осуществлении переводов на карты MasterCard и некоторые Visa, выпущенные Сбербанком</p>
                <div class="price-table">
                    <div class="to-seller__card">
                        <div class="color"></div>
                        <div class="left"></div>
                        <div class="card"></div>
                    </div>
                    <table>
                        <tr>
                            <th>Способ перевода денег</th>
                            <th>Комиссия за перевод</th>
                        </tr>
                        <tr>
                            <td>Карта Visa / MasterCard*</td>
                            <td class="price">3% + 45 Р</td>
                        </tr>
                        <tr>
                            <td>Кошелек QIWI **</td>
                            <td class="price">2%</td>
                        </tr>
                        <tr>
                            <td>Баланс сайта</td>
                            <td class="price">0%</td>
                        </tr>
                        <tr>
                            <td>Кошелек Яндекс.Деньги</td>
                            <td class="price">0%</td>
                        </tr>
                    </table>
                    <div class="price-table__footer">
                        <p class="p">
                            * Минимальная сумма для перевода на банковскую карту составляет 400 Р<br><br>
                            ** Максимально возможная сумма вывода на QIWI составляет 30 000 Р
                        </p>
                    </div>
                </div>
                <button data-fancybox data-src="#deal-popup_full" data-modal="true" class="btn btn_yellow" type="button">Написать администратору</button>
            </div>
        </div>
    </section>
    
</div>
{% endblock %}