{% extends "./template/layout.twig" %}
 
{% block page %}
<div class="page resolution">
    <section class="section section_dark section_main">
        <div class="container">
            <div class="side side_text">
                <h1 class="h1">Решение <br>споров</h1>
                <p class="p">
                    В случае нарушения условий сделки одним из участников, Salegroups выступает в качестве объективного арбитра для урегулирования спора.
                </p>
                <div class="illustration illustration_resolution"></div>
            </div>
        </div>
    </section>
    <section class="section resolution-steps">
        <div class="container">
            <div class="resolution-steps__item resolution-steps__item_call-arbiter">
                <div class="resolution-steps__info">
                    <div class="resolution-steps__img"></div>

                    <div class="resolution-steps__title">Вызов арбитра</div>
                    <div class="resolution-steps__text">
                        <p class="p">
                            Если аккаунт или сообщество не соответствует заявленным ранее характеристикам, то покупатель может вызвать арбитра.<br><br>
                            В этом случае арбитр подключается к сделке и получает всю необходимую информацию о ситуации от обоих участников
                        </p>
                    </div>
                </div>
            </div>
            <div class="resolution-steps__item resolution-steps__item_refund">
                <div class="resolution-steps__info">
                    <div class="resolution-steps__img"></div>

                    <div class="resolution-steps__title">Возможность частичного или полного возврата</div>
                    <div class="resolution-steps__text">
                        <p class="p">
                            Для урегулирования спорной ситуации стороны могут договориться о возврате доступов или скидке на текущий аккаунт/сообщество.<br><br>
                            В этом случае деньги либо вернутся покупателю, либо будет возвращена часть суммы, которую стороны согласуют между собой.
                        </p>
                    </div>
                </div>
            </div>
            <div class="resolution-steps__item resolution-steps__item_arbitration">
                <div class="resolution-steps__info">
                    <div class="resolution-steps__img"></div>

                    <div class="resolution-steps__title">Арбитраж</div>
                    <div class="resolution-steps__text">
                        <p class="p">
                            Если урегулировать спор самостоятельно сторонам не удается, команда арбитров Salegroups помогает урегулировать спор, проводя независимое расследование.<br><br>
                            Оценка ситуации и принятие решения осуществляются исключительно на основе подтвержденных фактов.<br><br>
                            Являясь независимой стороной, мы не имеем заинтересованности в принятии решения в пользу какой-либо из сторон.
                        </p>
                    </div>
                </div>
            </div>
            <button data-fancybox data-src="#deal-popup" data-modal="true" class="btn btn_yellow" type="button">Написать администратору</button>
        </div>
    </section>
</div>
{% endblock %}