.how-it-works {
    .section_main {
        background-image: url('../img/how_main-bg.svg');
        background-size: 1108px 820px;

        .illustration_shield {
            right: -320px;
            top: 0;
        }

        .side_text {
            max-width: 750px;

            @media (max-width: 1024px) {
                max-width: 700px;
            }

            @media (max-width: 768px) {
                max-width: 100%;
            }
        }
    }

    .safe {
        padding-top: 148px;

        .h2 {
            margin-bottom: 59px;
            text-align: center;
        }

        .container {
            @media (max-width: 768px) {
                padding: 0;
            }
        }

        &__content {
            position: relative;
            height: 552px;
            width: 100%;

            --width-1: 346;
            --width-2: 883;
            --height-1: 403;
            --height-2: 552;

            --need-width-1: calc( var(--width-1) * 1px );
            --need-width-2: calc( var(--width-2) * 1px );
            --need-height-1: calc( var(--height-1) * 1px );
            --need-height-2: calc( var(--height-2) * 1px );

            @media (max-width: 1024px) {
                --need-width-1: calc( 33% + 30px );
                --need-width-2: calc( 86% + 30px );
            }

            &:before {
                content: '';
                display: block;
                height: var(--need-height-1);
                width: var(--need-width-1);
                position: absolute;
                left: 0;
                top: 0;
                background: url('../img/how_secure-buy.svg') 50% 50% no-repeat;
                background-size: contain;
            }

            &:after {
                content: '';
                display: block;
                height: var(--need-height-2);
                width: var(--need-width-2);
                position: absolute;
                right: 0;
                top: 0;
                background: url('../img/how_secure-send.svg') 50% 50% no-repeat;
                background-size: contain;
            }
        }
    }

    .steps {
        color: white;
        background-color: $darkBlue;
        background: $darkBlue;
        background: linear-gradient(0deg, 
            #E5E5E5 0%, 
            #E5E5E5 190px, 
            $darkBlue 190px, 
            $darkBlue calc(100% - 270px), 
            #E5E5E5 calc(100% - 270px), 
            #E5E5E5 100%
        );
        position: relative;
        padding-top: 369px;
        padding-bottom: 295px;

        &:before,
        &:after {
            content: '';
            width: 100%;
            position: absolute;
            background: transparent 50% 50% no-repeat;
            background-size: cover;
            left: 0;
            display: block;
        }

        &:before {
            top: 0;
            height: 280px;
            background-image: url('../img/up_1.svg');
        }

        &:after {
            bottom: 0;
            height: 200px;
            background-image: url('../img/down_1.svg');
            background-position-y: -1px;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__main {
            width: 100%;
            text-align: center;

            .h2 {
                margin-bottom: 29px;
            }

            .p {
                margin: 0 auto;
            }
        }

        &__item {
            width: 100%;
            display: flex;
            position: relative;

            div,
            img {
                z-index: 10;
            }

            @media (max-width: 768px) {
                flex-direction: column;
                width: 90%;
            }

            &_agreement {
                margin-top: 161px;

                @media (max-width: 768px) {
                    margin-top: 75px;
                }
                
                .steps__info {
                    margin-top: 55px;

                    @media (max-width: 1100px) {
                        padding-left: 25px;
                    }

                    @media (max-width: 768px) {
                        padding-left: 0;
                    }
                }

                img {
                    height: 262px;
                    width: 424px;
                }
            }
    
            &_coins-reservation {
                margin-top: 164px;

                @media (max-width: 768px) {
                    margin-top: 100px;
                    flex-direction: column-reverse;
                }

                &::after {
                    content: '';
                    position: absolute;
                    background: url('../img/steps-right.svg') 50% 50% no-repeat;
                    background-size: contain;
                    display: block;
                    height: 795px;
                    width: 1264px;
                    z-index: 1;
                    top: -100%;
                    left: 22%;

                    @media (max-width: 768px) {
                        display: none;
                    }
                }

                .steps__info {
                    margin-top: 43px;
                }

                .steps__img {
                    padding-left: 90px;

                    @media (max-width: 768px) {
                        padding-left: 0;
                    }
                }

                img {
                    height: 308px;
                    width: 290px;
                }
            }

            &_rights-transfer {
                margin-top: 230px;

                @media (max-width: 768px) {
                    margin-top: 130px;
                }

                &::after {
                    content: '';
                    position: absolute;
                    background: url('../img/steps-blue.svg') 50% 50% no-repeat;
                    background-size: contain;
                    display: block;
                    height: 969px;
                    width: 1143px;
                    z-index: 0;
                    top: -200%;
                    left: -20%;

                    @media (max-width: 768px) {
                        display: none;
                    }
                }

                .steps__info {
                    margin-top: 33px;

                    @media (max-width: 1100px) {
                        padding-left: 25px;
                    }

                    @media (max-width: 768px) {
                        padding-left: 0;
                    }
                }

                .steps__img {
                    padding-left: 39px;

                    @media (max-width: 768px) {
                        padding-left: 0;
                    }
                }

                img {
                    height: 280px;
                    width: 359px;
                }
            }

            &_arbitration {
                margin-top: 187px;

                @media (max-width: 768px) {
                    flex-direction: column-reverse;
                    margin-top: 100px;
                }

                &::after {
                    content: '';
                    position: absolute;
                    background: url('../img/steps-left.svg') 50% 50% no-repeat;
                    background-size: contain;
                    display: block;
                    height: 1436px;
                    width: 1364px;
                    z-index: 1;
                    top: -225%;
                    right: 13%;

                    @media (max-width: 768px) {
                        display: none;
                    }
                }

                &::before {
                    content: '';
                    position: absolute;
                    background: url('../img/steps-blue-small.svg') 50% 50% no-repeat;
                    background-size: contain;
                    display: block;
                    height: 299px;
                    width: 353px;
                    z-index: 0;
                    right: -10%;
                    bottom: -10%;

                    @media (max-width: 768px) {
                        display: none;
                    }
                }

                .steps__info {
                    margin-top: 58px;
                    position: relative;

                    @media (max-width: 768px) {
                        margin-top: 30px;
                    }
                }

                .steps__img {
                    padding-left: 63px;

                    @media (max-width: 768px) {
                        padding-left: 0;
                    }
                }

                img {
                    height: 352px;
                    width: 350px;
                }
            }

            &_wallet {
                margin-top: 121px;

                @media (max-width: 768px) {
                    margin-top: 60px;
                }

                &::before {
                    content: '';
                    position: absolute;
                    background: url('../img/steps-green.svg') 50% 50% no-repeat;
                    background-size: contain;
                    display: block;
                    height: 271px;
                    width: 401px;
                    z-index: 0;
                    left: -5%;
                    bottom: -10%;

                    @media (max-width: 768px) {
                        display: none;
                    }
                }

                .steps__info {
                    margin-top: 102px;

                    @media (max-width: 1100px) {
                        padding-left: 25px;
                    }

                    @media (max-width: 768px) {
                        margin-top: 30px;
                        padding-left: 0;
                    }
                }

                .steps__img {
                    padding-left: 75px;

                    @media (max-width: 768px) {
                        padding-left: 0;
                    }
                }

                img {
                    height: 416px;
                    width: 260px;
                }
            }

            &_success {
                margin-top: 131px;

                @media (max-width: 768px) {
                    flex-direction: column-reverse;
                    margin-top: 60px;
                }

                .steps__info {
                    margin-top: 85px;

                    @media (max-width: 768px) {
                        margin-top: 0px;
                    }
                }

                .steps__img {
                    padding-left: 40px;

                    @media (max-width: 768px) {
                        padding-left: 0;
                    }
                }

                img {
                    height: 320px;
                    width: 304px;
                }
            }
        }

        &__title {
            margin-bottom: 33px;

            @media (max-width: 768px) {
                text-align: center;
            }
        }

        &__step {
            display: flex;
            align-items: flex-start;
        }

        &__number {
            text-transform: uppercase;
            color: $grey;
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
            margin-right: 35px;
            padding: 12px 16px;
            white-space: nowrap;
            background: $green;
            box-shadow: 0px 2px 24px rgba(0, 230, 118, 0.6);
            border-radius: 24px;
            display: inline;
        }

        &__text {
            p {
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
            }
        }

        &__info {
            width: 608px;
            max-width: 100%;

            @media (max-width: 768px) {
                width: 100%;
            }
        }

        &__img {
            width: calc( 100% - 608px );
            max-width: 100%;

            @media (max-width: 768px) {
                width: 100%;
            }

            img {
                max-width: 100%;
                max-height: 100%;

                @media (max-width: 768px) {
                    display: block;
                    margin: 0 auto;
                }
            }
        }

        &__link {
            margin-top: 120px;
            font-weight: 300;
            font-size: 18px;
            line-height: 24px;
            color: #39A4FF;
            text-decoration: none;
            display: flex;
            align-items: center;

            &:before {
                content: '';
                width: 55px;
                height: 23px;
                display: inline-block;
                background: url('../img/arrow.svg') 50% 50% no-repeat;
                background-size: contain;
                margin-right: 15px;
            }
        }
    }

    .safe-period {
        text-align: center;
        padding-bottom: 150px;

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        &__lock {
            background: url('../img/lock.svg') 50% 50% no-repeat;
            background-size: contain;
            width: 200px;
            height: 267px;
        }

        .h2 {
            margin-top: -10px;
            margin-bottom: 46px;
        }

        .p {
            margin: 0 auto;
        }

        .btn {
            margin-top: 115px;
        }
    }
}