.partner {
    .section_main {
        background-image: url('../img/partner_main-bg.svg');
        background-size: 1108px 820px;
    }

    .share {
        padding-top: 139px;
        padding-bottom: 90px;

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;

            > .p {
                text-align: center;
                font-weight: 300;
                font-size: 24px;
                line-height: 32px;
            }
        }

        .h2 {
            margin-bottom: 60px;
            text-align: center;
        }

        &__btn-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 36px;

            .btn {
                padding: 7px 24px;
                padding-bottom: 9px;
                border-radius: 4px;
                font-weight: bold;
                font-size: 16px;
                line-height: 24px;
            }
        }

        &__btn-or {
            margin: 0 24px;
            font-weight: 300;
            font-size: 16px;
            line-height: 16px;
            color: #898EA6;
        }

        &__copy-container {
            display: flex;
            align-items: stretch;
            width: 488px;
            box-shadow: 0px 6px 24px rgba(18, 60, 96, 0.12);
            border-radius: 8px;
            overflow: hidden;
            margin-top: 48px;

            input {
                background: white;
                width: calc( 100% - 64px );
                outline: none;
                border: none;
                padding: 0 32px;
                color: #006ECC;
                font-weight: 300;
                font-size: 20px;
                line-height: 24px;
            }

            button {
                width: 64px;
                height: 72px;
                outline: none;
                border: none;
                cursor: pointer;
                background: #CFDBE6 url('../img/copy.svg') 50% 50% no-repeat;
                background-size: 24px;
            }
        }
    }

    .stats {
        color: white;
        background-color: $darkBlue;
        background: $darkBlue;
        background: linear-gradient(0deg, 
            #E5E5E5 0%, 
            #E5E5E5 180px, 
            $darkBlue 180px, 
            $darkBlue calc(100% - 180px), 
            #E5E5E5 calc(100% - 180px), 
            #E5E5E5 100%
        );
        position: relative;
        padding-top: 242px;
        padding-bottom: 328px;

        &:before,
        &:after {
            content: '';
            width: 100%;
            position: absolute;
            background: transparent 50% 50% no-repeat;
            background-size: cover;
            left: 0;
            display: block;
        }

        &:before {
            top: 0;
            height: 192px;
            background-image: url('../img/up_3.svg');
        }

        &:after {
            bottom: 0;
            height: 192px;
            background-image: url('../img/down_3.svg');
            background-position-y: -1px;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .h2 {
            margin-bottom: 102px;
        }

        &__container {
            display: flex;
            justify-content: center;

            @media (max-width: 768px) {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &__item {
            display: flex;
            align-items: center;

            &:not(:last-child) {
                margin-right: 100px;

                @media (max-width: 768px) {
                    margin-right: 0;
                    margin-bottom: 50px;
                }
            }

            &-img {
                width: 120px;
                height: 120px;
                margin-right: 32px;
                background: #006ECC;
                box-shadow: 0px 4px 20px rgba(22, 148, 255, 0.3);
                border-radius: 50%;

                &_user {
                    position: relative;

                    &:before {
                        content: '';
                        bottom: 30%;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        height: 93px;
                        width: 93px;
                        position: absolute;
                        background: url('../img/partner_man.svg') 50% 50% no-repeat;
                        background-size: contain;
                    }
                }

                &_money {
                    position: relative;

                    &:before {
                        content: '';
                        bottom: 30%;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        height: 93px;
                        width: 93px;
                        position: absolute;
                        background: url('../img/partner_coins.svg') 50% 50% no-repeat;
                        background-size: contain;
                    }
                }
            }

            &-title {
                font-weight: 300;
                font-size: 20px;
                line-height: 20px;
                margin-bottom: 25px;
            }

            &-value {
                font-size: 40px;
                line-height: 40px;
            }

            &-small {
                font-size: 24px;
                line-height: 20px;
            }
        }
    } 

    .info {
        padding-top: 40px;
        padding-bottom: 150px;

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__steps-container {
            display: flex;
            justify-content: center;
            align-items: flex-start;

            @media (max-width: 768px) {
                flex-direction: column;
                align-items: center;
            }
        }

        &__arrow {
            width: 93px;
            height: 22px;
            background: url('../img/partner_arrow.svg') 50% 50% no-repeat;
            background-size: contain;
            margin-top: 150px;

            @media (max-width: 768px) {
                display: none;
            }
        }

        &__step {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 250px;

            &_1 {
                .info__step-img {
                    background-image: url('../img/partner_deal.svg');
                }
            }

            &_2 {
                .info__step-img {
                    background-image: url('../img/partner_procent.svg');
                }
            }

            &_3 {
                .info__step-img {
                    background-image: url('../img/partner_money.svg');
                }
            }
        }

        &__step-img {
            height: 250px;
            width: 100%;
            margin-bottom: 26px;
            background: transparent 50% bottom no-repeat;
            background-size: contain;
        }

        &__step-title {
            font-weight: 300;
            font-size: 24px;
            line-height: 32px;
            text-align: center;
        }

        &__texts-container {
            margin-top: 140px;

            .p {
                text-align: center;
                
                &_1 {
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 30px;
                    margin-bottom: 27px;
                }

                &_2 {
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 14px;
                    text-align: center;
                    color: #80848E;
                    margin-bottom: 58px;
                }

                &_3 {
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                    color: #242424;
                }
            }
        }
    }
}