.payment {
    .section_main {
        background-image: url('../img/payment_main-bg.svg');
        background-size: 1108px 820px;

        .illustration_payment {
            right: -550px;
            top: 110px;
        }

        .side_text {
            max-width: 750px;

            @media (max-width: 1024px) {
                max-width: 50%;
            }

            @media (max-width: 768px) {
                max-width: 100%;
            }
        }
    }

    .calculate {
        padding-top: 149px;
        padding-bottom: 99px;

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .h2 {
            text-align: center;
            margin-bottom: 109px;
        }

        &__params-container {
            display: inline-flex;
            justify-content: center;
            align-items: flex-start;
            position: relative;
            margin: 0 auto;
            margin-bottom: 162px;

            @media (max-width: 768px) {
                flex-direction: column;
                align-items: center;
            }

            &:before {
                content: '';
                position: absolute;
                left: calc( 50% - 24px );
                bottom: calc( -100% + 75px );
                height: 161px;
                width: 48px;
                background: url('../img/arrow-down.svg') 50% 50% no-repeat;
                background-size: contain;

                @media (max-width: 768px) {
                    display: none;
                }
            }
        }

        &__param {
            background: #FFFFFF;
            box-shadow: 0px 4px 24px rgba(0, 80, 148, 0.1);
            border-radius: 8px;
            padding: 32px;
            width: 344px;
            
            &:not(:first-child) {
                margin-left: 48px;
            }

            @media (max-width: 768px) {
                &:not(:first-child) {
                    margin-top: 48px;
                    margin-left: 0;
                }
            }

            input,
            select {
                margin-top: 24px;
                width: 100%;
                background: #FFFFFF;
                border: 1px solid #E3E3E7;
                box-sizing: border-box;
                border-radius: 4px;
                font-weight: 300;
                font-size: 32px;
                line-height: 32px;
                color: #006ECC;
                padding: 0px 24px;
                height: 75px;
            }
        }

        &__select {
            &-container {
                &.select2-selection {
                    margin-top: 24px;
                    width: 100%;
                    background: #FFFFFF;
                    border: 1px solid #E3E3E7;
                    box-sizing: border-box;
                    border-radius: 4px;
                    font-weight: 300;
                    font-size: 32px;
                    line-height: 32px;
                    color: #006ECC;
                    padding: 0px 24px;
                    height: 75px;

                    display: flex;
                    align-items: center;
                    position: relative;
    
                    .select2-selection {
                        &__rendered {
                            color: #006ECC;
                        }
    
                        &__arrow {
                            top: 0;
                            right: 0;
                            height: 100%;
                            width: calc( 18px * 2 + 8px );
                            
                            b {
                                width: 14px;
                                height: 9px;
                                background: url('../img/payment-arrow_select.svg') 50% 50% no-repeat;
                                background-size: contain;
                                border: none;
                                margin: 0;
                                left: auto;
                                right: 18px;
                                top: calc( 50% - 3px );
                            }
                        }
                    }
    
                    &[aria-expanded="true"] {
                        .select2-selection {
                            &__arrow {
                                b {
                                    transform: rotate(180deg);
                                }
                            }
                        }
                    }
                }
            }
    
            &-dropdown {
                color: black;

                &.select2-dropdown {
                    border: 1px solid #E3E3E7;
                    border-top: none;
                    border-radius: 0 0 4px 4px;
    
                    .select2-results {
    
                        &__option {
                            margin-bottom: 25px;
                            font-weight: 300;
                            font-size: 32px;
                            line-height: 32px;
                            padding: 0px 24px;
                            color: #292C3B;
    
                            &:first-child {
                                margin-top: 25px;
                            }
    
                            &[aria-selected="true"] {
                                opacity: 0.4;
                                background: transparent;
                            }
    
                            &--highlighted {
                                background: transparent;
                                color: #006ECC;
    
                                &[aria-selected="true"] {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
        
        &__title {
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            color: #292C3B;
        }

        &__coin {
            position: absolute;
            background: transparent 50% 50% no-repeat;
            background-size: contain;

            &_1 {
                background-image: url('../img/payment_coin-1.svg');
                width: 140px;
                height: 160px;
                left: -300px;
                top: -20px;
            }

            &_2 {
                background-image: url('../img/payment_coin-2.svg');
                width: 64px;
                height: 75px;
                left: -30px;
                bottom: -20px;
            }

            &_3 {
                background-image: url('../img/payment_coin-3.svg');
                width: 54px;
                height: 48px;
                left: 80px;
                top: -70px;
            }

            &_4 {
                background-image: url('../img/payment_coin-4.svg');
                width: 51px;
                height: 58px;
                right: 80px;
                bottom: -80px;
            }

            &_5 {
                background-image: url('../img/payment_coin-5.svg');
                width: 150px;
                height: 138px;
                right: -110px;
                top: -90px;
            }

            &_6 {
                background-image: url('../img/payment_coin-6.svg');
                width: 48px;
                height: 55px;
                right: -180px;
                bottom: -5px;
            }
        }

        &__result-container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            @media (max-width: 1100px) {
                flex-wrap: wrap;
                justify-content: space-around;
            }
        }

        &__result {
            padding: 90px 65px;
            background: transparent 50% 50% no-repeat;
            background-size: contain;

            &_1 {
                min-width: 350px;
                min-height: 289px;
                background-image: url('../img/payment_calc-1.svg');
            }

            &_2 {
                min-width: 378px;
                min-height: 280px;
                background-image: url('../img/payment_calc-2.svg');

                @media (max-width: 1100px) {
                    order: 3;
                }
            }

            &_3 {
                min-width: 358px;
                min-height: 292px;
                background-image: url('../img/payment_calc-3.svg');
            }

            .calculate__title {
                position: relative;
                display: flex;
                align-items: center;

                &::before {
                    content: '';
                    position: absolute;
                    left: calc( -24px - 24px );
                    height: 24px;
                    width: 24px;
                    border-radius: 50%;
                    background: #1F8DEB;
                    box-shadow: 0px 0px 16px rgba(0, 110, 204, 0.8);
                }
            }
        }

        &__text {
            margin-top: 17px;
            font-weight: 300;
            font-size: 20px;
            line-height: 24px;
            color: #292C3B;
        }

        &__price {
            font-weight: 300;
            font-size: 32px;
            line-height: 24px;
        }
        
        &__payment {
            display: inline-block;
            cursor: pointer;
            font-weight: 300;
            font-size: 14px;
            line-height: 24px;
            color: #439BE7;
            opacity: 0.5;
            border-bottom: 1px dashed #439BE7;
            text-decoration: none;

            &:hover {
                opacity: 1;
            }
        }
    }

    .fees {
        color: white;
        background-color: $darkBlue;
        background: $darkBlue;
        background: linear-gradient(0deg, 
            #E5E5E5 0%, 
            #E5E5E5 180px, 
            $darkBlue 180px, 
            $darkBlue calc(100% - 180px), 
            #E5E5E5 calc(100% - 180px), 
            #E5E5E5 100%
        );
        position: relative;
        padding-top: 242px;
        padding-bottom: 292px;

        &:before,
        &:after {
            content: '';
            width: 100%;
            position: absolute;
            background: transparent 50% 50% no-repeat;
            background-size: cover;
            left: 0;
            display: block;
        }

        &:before {
            top: 0;
            height: 192px;
            background-image: url('../img/up_2.svg');
        }

        &:after {
            bottom: 0;
            height: 192px;
            background-image: url('../img/down_2.svg');
            background-position-y: -1px;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .h2 {
            margin-bottom: 76px;
        }

        &__container {
            font-weight: 300;
            font-size: 32px;
            line-height: 32px;
            display: flex;
            align-items: flex-start;
            justify-content: center;
        }

        &__block {
            display: flex;
            flex-direction: column;
            align-items: center;

            &:last-child {
                margin-left: 157px;

                @media (max-width: 768px) {
                    margin-left: 0;
                }
            }

            &_green {
                --fees-color: #00E676;
                --fees-shadow: 0px 2px 10px #00CB68 ;
                --fees-text-shadow: 0px 4px 28px rgba(0, 203, 104, 0.4);
            }

            &_blue {
                --fees-color: #1694FF;
                --fees-shadow: 0px 4px 10px #1694FF;
                --fees-text-shadow: 0px 4px 28px rgba(22, 148, 255, 0.4);
            }
        }

        &__title {
            font-weight: 300;
            font-size: 32px;
            line-height: 32px;
            color: var(--fees-color);
            text-shadow: var(--fees-text-shadow);
            margin-bottom: 44px;
            text-align: center;

            @media (max-width: 768px) {
                font-size: 24px;
                line-height: 24px;
            }
        }

        &__box {
            background: #333649;
            box-shadow: 0px 4px 16px rgba(31, 34, 47, 0.5);
            border-radius: 40px;
            padding: 44px 40px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &.arrow {
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    left: calc( -100% - 24px );
                    top: calc( 50% - 24px );
                    width: 161px;
                    height: 48px;
                    background: url('../img/arrow-right.svg') 50% 50% no-repeat;
                    background-size: contain;

                    @media (max-width: 768px) {
                        display: none;
                    }
                }
            }
        }

        &__item {
            font-weight: 300;
            font-size: 20px;
            line-height: 32px;
            position: relative;
            display: inline-block;
            cursor: pointer;
            
            &:not(:last-child) {
                margin-bottom: 35px;
            }

            &:hover,
            &.active {
                &::after,
                &::before {
                    opacity: 1;
                }
            }

            &_after {
                &:after {
                    content: '';
                    position: absolute;
                    height: 8px;
                    width: 8px;
                    top: calc( 50% - 4px );
                    background: var(--fees-color);
                    box-shadow: var(--fees-shadow);
                    border-radius: 50%;
                    right: -14px;
                    opacity: .2;
                }
            }

            &_before {
                &:before {
                    content: '';
                    position: absolute;
                    height: 8px;
                    width: 8px;
                    top: calc( 50% - 4px );
                    background: var(--fees-color);
                    box-shadow: var(--fees-shadow);
                    border-radius: 50%;
                    left: -14px;
                    opacity: .2;
                }
            }
        }

        &__price {
            font-weight: 300;
            font-size: 40px;
            line-height: 40px;
        }
    }

    .additional-fees {
        padding-top: 40px;
        padding-bottom: 87px;

        * {
            z-index: 10;
            position: relative;
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            > .p {
                text-align: center;
            }
        }

        .h2 {
            text-align: center;
            margin-bottom: 47px;
        }

        &__accept {
            margin-top: 104px;
            width: 100%;
            margin-bottom: 110px;
        }

        &__accept-title {
            font-weight: bold;
            font-size: 48px;
            line-height: 56px;
            text-align: center;
            margin-bottom: 62px;
        }

        &__accept-conteiner {
            display: flex;
            align-items: center;
            justify-content: space-around;

            @media (max-width: 768px) {
                flex-wrap: wrap;
                justify-content: space-evenly;
            }
        }

        &__accept-item {
            @media (max-width: 768px) {
                margin: 10px;
            }
        }

        .price-table {
            margin-right: 15%;
            position: relative;
            z-index: 5;

            @media (max-width: 1024px) {
                margin-right: auto;
            }

            .additional-fees__cashbox {
                position: absolute;
                width: 500px;
                height: 500px;
                top: 25%;
                right: -42%;
                z-index: -1;

                * {
                    z-index: -1;
                }

                @media (max-width: 768px) {
                    display: none;
                }
                
                .color {
                    position: absolute;
                    width: 1410px;
                    height: 1269px;
                    background: url('../img/payment_blue.svg') 50% 50% no-repeat;
                    background-size: contain;
                    left: -90%;
                    bottom: -60%;
                }

                .cashbox {
                    position: absolute;
                    width: 624px;
                    height: 469px;
                    background: url('../img/cashbox.svg') 50% 50% no-repeat;
                    background-size: contain;
                    left: 25%;
                    bottom: 27%;
                }

                .right {
                    position: absolute;
                    width: 932px;
                    height: 795px;
                    background: url('../img/payment_right.svg') 50% 50% no-repeat;
                    background-size: contain;
                    left: 0;
                    bottom: 0;
                }
            }
            
            th,
            td {
                &:not(:last-child) {
                    padding-right: 72px;
                }

                @media (max-width: 768px) {
                    text-align: center;

                    &:not(:last-child) {
                        padding-right: 25px;
                    }
                }
            }
        }
    }

    .to-seller {
        padding-top: 87px;
        padding-bottom: 190px;

        * {
            z-index: 10;
            position: relative;
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            > .p {
                text-align: center;
                margin-bottom: 78px;
            }
        }

        .h2 {
            text-align: center;
            margin-bottom: 47px;
        }

        .price-table {
            margin-left: 30%;
            position: relative;
            z-index: 5;

            @media (max-width: 1024px) {
                margin-left: auto;
            }

            .to-seller__card {
                position: absolute;
                width: 500px;
                height: 500px;
                top: 55%;
                left: -33%;
                z-index: -1;

                * {
                    z-index: -1;
                }

                @media (max-width: 768px) {
                    display: none;
                }

                .color {
                    position: absolute;
                    width: 1223px;
                    height: 952px;
                    background: url('../img/payment_green.svg') 50% 50% no-repeat;
                    background-size: contain;
                    right: -10%;
                    bottom: 20%;
                }

                .card {
                    position: absolute;
                    width: 591px;
                    height: 510px;
                    background: url('../img/payment_card.svg') 50% 50% no-repeat;
                    background-size: contain;
                    right: 65%;
                    bottom: 75%;
                }

                .left {
                    position: absolute;
                    width: 1080px;
                    height: 1104px;
                    background: url('../img/payment_left.svg') 50% 50% no-repeat;
                    background-size: contain;
                    right: 0;
                    bottom: 0;
                }
            }

            th,
            td {
                &:not(:last-child) {
                    padding-right: 130px;
                }

                @media (max-width: 768px) {
                    text-align: center;

                    &:not(:last-child) {
                        padding-right: 25px;
                    }
                }
            }
        }

        .btn {
            margin-top: 200px;
        }
    }
}