.resolution {
    .section_main {
        background-image: url('../img/res_main-bg.svg');
        background-size: 1108px 820px;

        .illustration_resolution {
            right: -500px;
            top: -40px;
        }

        .side_text {
            max-width: 750px;

            @media (max-width: 1024px) {
                max-width: 50%;
            }

            @media (max-width: 768px) {
                max-width: 100%;
            }
        }
    }

    .resolution-steps {
        padding-bottom: 150px;

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;

            * {
                position: relative;
            }

            @media (max-width: 768px) {
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }

            &_call-arbiter {
                padding-top: 256px;

                .resolution-steps__info {
                    align-self: flex-end;
                }

                .resolution-steps__img {
                    right: calc( 100% + 100px );

                    @media (max-width: 1024px) {
                        right: calc( 100% + 40px );;
                    }

                    &:after {
                        content: '';
                        display: block;
                        width: 952px;
                        height: 768px;
                        position: absolute;
                        left: -7%;
                        top: -60%;
                        background: url('../img/call-arbiter.svg') 50% 50% no-repeat;
                        background-size: contain;
                        z-index: -1;
                    }
                }
            }

            &_refund {
                padding-top: 200px;

                .resolution-steps__info {
                    align-self: flex-start;
                    width: 684px;
                }

                .resolution-steps__text {
                    width: 600px;
                }

                .resolution-steps__img {
                    top: 10%;
                    left: calc( 100% + 100px - 84px );

                    @media (max-width: 1024px) {
                        left: calc( 100% + 40px - 84px  );;
                    }

                    &:after {
                        content: '';
                        display: block;
                        width: 952px;
                        height: 768px;
                        position: absolute;
                        right: -7%;
                        top: -60%;
                        background: url('../img/refund.svg') 50% 50% no-repeat;
                        background-size: contain;
                        z-index: -1;
                    }
                }
            }

            &_arbitration {
                padding-top: 270px;

                .resolution-steps__info {
                    align-self: flex-end;
                }

                .resolution-steps__img {
                    top: 10%;
                    right: calc( 100% + 100px );

                    @media (max-width: 1024px) {
                        right: calc( 100% + 40px );;
                    }

                    &:after {
                        content: '';
                        display: block;
                        width: 952px;
                        height: 768px;
                        position: absolute;
                        left: -7%;
                        top: -60%;
                        background: url('../img/arbitration-2.svg') 50% 50% no-repeat;
                        background-size: contain;
                        z-index: -1;
                    }
                }
            }
        }

        &__img {
            width: 509px;
            height: 339px;
            max-width: 100%;
            position: absolute;
            z-index: 0;

            @media (max-width: 768px) {
                position: relative;
                left: initial !important;
                right: initial !important;
                margin-bottom: 50px;
            }
        }

        &__info {
            width: 600px;
            max-width: 100%;
            position: relative;

            @media (max-width: 1024px) {
                width: 550px;
            }

            @media (max-width: 768px) {
                width: 100%;
                flex-direction: column;
                display: flex;
            }
        }

        &__title {
            font-weight: bold;
            font-size: 56px;
            line-height: 64px;
            margin-bottom: 37px;
            position: relative;

            &:before {
                content: '';
                background: #249AFF;
                width: 16px;
                height: 16px;
                box-shadow: 0px 0px 24px rgba(68, 169, 255, 0.6);
                left: calc( -16px - 24px );
                top: 24px;
                border-radius: 50%;
                position: absolute;
                display: block;
            }
        }

        .btn {
            margin-top: 175px;
        }
    }
}