@import './vendor/fonts',
        './vendor/normalize',
        './vendor/select2';

/** 
 * vars 
 */
$baseFontSize: 15px;
$darkBlue: #292C3B;
$dark: #242424;
$grey: #444854;
$blue: #006ECC;
$green: #00E676;

/**
 * functions
*/
@function rem($px, $std: $baseFontSize) {
    @if (unitless($px)) { $px: $px * 1px; }
    @if (unitless($std)) { $std: $std * 1px; }
    @return $px / $std * 1rem;
}

/**
 * base styles 
 */ 
html {
    font-size: $baseFontSize;
    min-width: 610px;
}

.page {
    font-family: "Roboto", sans-serif;
    color: $dark;
    font-size: rem(16px);
    
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    input,
    textarea,
    button,
    a,
    div,
    span {
        outline: none;

        &:focus,
        &:active {
            outline: none;
        }
    }

    h1,
    .h1 {
        font-weight: bold;
        font-size: rem(72px);
        line-height: rem(88px);
    }

    h2,
    .h2 {
        font-weight: bold;
        font-size: rem(64px);
        line-height: rem(72px);
    }

    h3,
    .h3 {
        font-weight: 300;
        font-size: rem(40px);
        line-height: rem(40px);
    }

    p,
    .p {
        font-weight: 300;
        font-size: rem(20px);
        line-height: rem(32px);
        max-width: 800px;
    }
}

@import './app/primary';